.App {
  text-align: center;
}

.App-logo {
  height: 24px;
}

.navbar {
  min-height: 64px;
  padding-left: 24px;
  padding-right: 24px;
}

.navbar-nav > li {
  padding-left: 24px;
}

.App-body {
  margin-left: 125px;
  margin-right: 125px;
}
