.App {
  text-align: center;
}

.App-logo {
  height: 24px;
}

.navbar {
  min-height: 64px;
  padding-left: 24px;
  padding-right: 24px;
}

.navbar-nav > li {
  padding-left: 24px;
}

.App-body {
  padding-left: 24px;
  padding-right: 12px;
  margin-left: 124px;
  margin-right: 124px;
  background-color: white;
}

.App-background {
  background-image: linear-gradient(rgb(203, 167, 240), rgb(102, 42, 161));
  min-height: 100vh;
  padding-top: 36px;
}

.header {
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 24px;
  border-bottom: 1px solid purple;
}

.picker {
  margin-left: 24px;
}

.custom-switch {
  padding-top: 30px;
}

.counter {
  margin-left: 10px;
}

.counter-label {
  padding-top: 10px;
  padding-left: 10px;
}

.submit {
  margin-top: 40px;
  text-align: center;
}

.radio-buttons {
  margin-top: 16px;
  margin-left: 24px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: rgba(184, 122, 245, 0.815);
  border-color: rgba(184, 122, 245, 0.815);
}
